name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Did you add a test File? Does it work?
      id: did-you-add-a-test-file-does-it-work
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 5
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        DID-YOU-ADD-A-TEST-FILE-DOES-IT-WORK_RESULTS: "${{steps.did-you-add-a-test-file-does-it-work.outputs.result}}"
      with:
        runners: did-you-add-a-test-file-does-it-work
